# Discord Bot Token
# Get this from https://discord.com/developers/applications
DISCORD_TOKEN=your_bot_token_here

# FACEIT API Key
# Get this from https://www.faceit.com/en/settings/account
FACEIT_API_KEY=your_faceit_api_key_here
